.card {
  &__container {
    padding-top: 94px;
  }

  &__title {
    margin: 0;
    padding: 0;
    margin-bottom: 64px;
    font-family: "Sen";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -2px;
    color: #000000;
  }

  &__box {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 32px;
    padding-bottom: 66px;
    border-bottom: 1px solid #6d6e76;
  }

  &__img {
    // width: 405px;
    height: 250px;
    margin-bottom: 32px;
  }

  &__text-time {
    margin: 0;
    padding: 0;
    margin-bottom: 16px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #4c4c4c;
  }

  &__box-title {
    margin: 0;
    padding: 0;
    margin-bottom: 16px;
    font-family: "Sen";
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -1px;
    color: #232536;
  }

  &__box-text {
    margin: 0;
    padding: 0;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #232536;
    opacity: 0.7;
  }
}

@media only screen and (max-width: 1400px) {
  .card {
    &__img {
      width: 400px;
    }
  }
}

@media only screen and (max-width: 1300px) {
  .card {
    &__img {
      width: 300px;
      height: 200px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@media only screen and (max-width: 1150px) {
  .card {
    &__container {
      padding-left: 40px;
      padding-right: 40px;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .card {
    &__img {
      width: 270px;
      height: 180px;
    }

    &__box {
      gap: 20px;
    }

    &__box-title {
      font-size: 30px;
      line-height: 44px;
    }

    &__box-text {
      font-size: 12px;
      line-height: 24px;
    }
  }
}

@media only screen and (max-width: 900px) {
  .card {
    &__container {
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 50px;
    }

    &__title {
      margin-bottom: 40px;
    }

    &__box {
      margin-bottom: 50px;
      grid-template-columns: auto;
    }

    &__minibox {
      display: flex;
      gap: 30px;
    }

    &__img {
      width: 350px;
      height: 250px;
    }

    &__time-text {
      margin-bottom: 10px;
    }

    &__box-title {
      margin-bottom: 10px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .card {
    &__title {
      font-size: 28px;
      line-height: 40px;
    }

    &__img {
      width: 300px;
      height: 200px;
    }

    &__time-text {
      font-size: 10px;
      line-height: 16px;
    }

    &__box-title {
      font-size: 26px;
      line-height: 40px;
    }

    &__box-text {
      font-size: 10px;
      line-height: 20px;
    }
  }
}

@media only screen and (max-width: 680px) {
  .card {
    &__minibox {
      flex-direction: column;
    }

    &__text-time {
      text-align: center;
    }

    &__box-title {
      text-align: center;
    }

    &__box-text {
      text-align: center;
    }
  }
}

@media only screen and (max-width: 425px) {
  .card {
    &__minibox {
      gap: 15px;
    }

    &__img {
      margin-bottom: 15px;
    }

    &__time-text {
      font-size: 8px;
      line-height: 12px;
    }

    &__box-title {
      font-size: 20px;
      line-height: 30px;
    }

    &__box-text {
      font-size: 8px;
      line-height: 16px;
    }
  }
}
