.category__intro {
  &-container {
    padding-top: 160px;
    padding-bottom: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #6d6e76;
  }

  &-title {
    margin: 0;
    padding: 0;
    margin-bottom: 16px;
    font-family: "Sen";
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -2px;
    color: #232536;
  }

  &-link {
    display: block;
    padding: 15px 35px;
    font-family: "Sen";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #232536;
    background-color: #ffd050;
    border: 2px solid #ffd050;
    cursor: pointer;
    transition: all 0.3s;
  }

  &-link:hover {
    background-color: transparent;
    border: #232536 2px solid;
  }
}

@media only screen and (max-width: 768px) {
  .category__intro {
    &-title {
      font-size: 48px;
      line-height: 56px;
    }

    &_text-one {
      font-size: 12px;
      line-height: 22px;
      width: 400px;
    }

    &_text-two {
      font-size: 12px;
      line-height: 18px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .category__intro {
    &-container {
      flex-direction: column;
      gap: 15px;
    }
  }
}

@media only screen and (max-width: 500px) {
  .category__intro {
    &_text-one {
      width: 300px;
    }
  }
}

@media only screen and (max-width: 425px) {
  .category__intro {
    &-container {
      padding-left: 20px;
      padding-right: 20px;
    }

    &-title {
      font-size: 32px;
      line-height: 42px;
    }

    &_text-one {
      width: 250px;
      font-size: 10px;
      line-height: 18px;
    }

    &_text-two {
      font-size: 10px;
      line-height: 14px;
    }

    &-link {
      padding: 10px 25px;
      font-size: 12px;
      line-height: 18px;
    }
  }
}
